* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.father-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 450px;
  padding: 15px;
  background-color: #e38826;
  border-radius: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blockIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 80px;
  margin: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blockTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 40px;
  margin: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f2f2f2;
}

.blockDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  line-height: 27px;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "BigShoulders", sans-serif;
  color: rgba(255, 255, 255, 0.75);
}

.blockBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  margin: 20px;
  margin-top: auto;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 44px;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: solid 2px #f2f2f2;
  background-color: #f2f2f2;
}

.btnTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 44px;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: solid 2px #f2f2f2;
  background-color: #f2f2f2;
}

.btnThre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 44px;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: solid 2px #f2f2f2;
  background-color: #f2f2f2;
}

.sedans {
  text-decoration: none;
  color: #e38826;
  font-family: "BigShoulders", sans-serif;
}

.suvs {
  text-decoration: none;
  color: #006970;
  font-family: "BigShoulders", sans-serif;
}

.luxury {
  text-decoration: none;
  color: #004241;
  font-family: "BigShoulders", sans-serif;
}

.cardTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  width: 270px;
  height: 450px;
  background-color: #006970;
  border-radius: 5px;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardThre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  width: 270px;
  height: 450px;
  background-color: #004241;
  border-radius: 5px;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 300px;
  font-size: 16px;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 300px;
}

.btn:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #e38826;
  color: #f0f0f0;
  border: solid 2px #f2f2f2;
}

.btn:hover .sedans {
  color: #f2f2f2;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btnTwo:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #006970;
  color: #f0f0f0;
  border: solid 2px #f2f2f2;
}

.btnTwo:hover .suvs {
  color: #f2f2f2;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btnThre:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #004241;
  color: #f0f0f0;
  border: solid 2px #f2f2f2;
}

.btnThre:hover .luxury {
  color: #f2f2f2;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */